// text properties

$font-family: Roboto, sans-serif;
$secondary-font-family: Open Sans, sans-serif;
$line-height: 1.5;

// colors

$main-color: #ffffff;
$title-color: #222223;
$text-color: #6c6e70;
$accent-color: #499bf8;

// bcg

$bcg-color: #ffffff;
$bcg-btn-color: linear-gradient(90deg, #3371b8 0%, #2482ee 100%);

// others

$error: #ff3300;
$success: #25d366;
$alert: #ffca28;
