// затемненный фон

.backdrop__mob-menu {
  display: none;

  @include mq(not-desk) {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: rgb(34, 34, 35, 0.4);
  }
}

// видимость самого меню

.backdrop__mob-menu.is-open {
  @include mq(not-desk) {
    display: block;
  }
}

// геометрия меню

.backdrop__mob-menu.is-open .header__mob-menu {
  @include mq(not-desk) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    width: calc(100% - 20px);
    height: 100%;
    padding: 20px;
    background-color: #47484a;
  }

  @include mq(mob) {
    min-width: 300px;
  }

  @include mq(tab) {
    width: 312px;
  }
}

// разбивка элементов внутри меню

.header__mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__mob-nav {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header__mob-contacts {
  display: flex;
  justify-content: space-between;
}

// menu btn

.header__mob-btn {
  display: none;
  position: absolute;
  right: 11px;
  z-index: 1000;

  &.is-open {
    position: static;
  }

  @include mq(not-desk) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 18px;
    border: none;
    background-color: transparent;
  }
}

.header__mob-icon {
  width: 26px;
  height: 18px;
  fill: $accent-color;
}

.header__icon-close {
  display: block;

  .header__mob-btn.is-open & {
    display: none;
  }
}

.header__icon-open {
  display: none;

  .header__mob-btn.is-open & {
    display: block;
  }
}

// logo

.header__logo-mob {
  @include mq(mob) {
    display: block;
    display: flex;
    justify-content: flex-start;
    width: 84px;
    height: 42px;
  }

  @include mq(tab) {
    display: block;
    width: 100px;
    height: 51px;
  }

  @include mq(desk) {
    display: none;
  }
}

.header__logo-mob-pic {
  @include mq(mob) {
    width: 84px;
    height: 42px;
  }

  @include mq(tab) {
    width: 100px;
    height: 51px;
  }
}

// menu title

.header__nav-title {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 20px;
  }
}

// menu above

.header__nav-mob-list {
  @include mq(not-desk) {
    display: flex;
    flex-direction: column;
    gap: 28px;

    font-size: 16px;
  }
}

.header__nav-mob-item {
  @include mq(mob-only) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      background-color: #3a3b3c;
    }
  }
}

// .header__nav-mob-item:not(:first-child) {
//   @include mq(tab-only) {
//     &::before {
//       content: '';
//       position: absolute;
//       top: -50%;
//       left: -10px;
//       width: calc(100% + 20px);
//       height: 1px;
//       background-color: #3a3b3c;
//     }
//   }
// }

// menu lang

.backdrop__mob-menu.is-open .header__lang-btn {
  display: inline-flex;
}

// menu below

.backdrop__mob-menu.is-open .header__menu-list {
  @include mq(mob) {
    display: flex;
    gap: 10px;

    font-size: 14px;
  }

  @include mq(tab) {
    display: none;
  }
}

.header__menu-item {
  padding: 0;
}

// lang btn

.header__lang-menu-btn {
  @include mq(tab-only) {
    display: none;
  }
}
