// header blocks

.header {
  position: relative;
  padding: 8px 0;
  background-color: $bcg-secondary-color;

  @include mq(tab) {
    padding: 9px 0 10px;
  }

  @include mq(desk) {
    padding: 18px 0 11px;
  }
}

.header__container {
  @include mq(desk) {
    display: flex;
    align-items: center;
  }
}

.header__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq(tab) {
    gap: 19px;
  }

  @include mq(desk) {
    gap: 30px;
  }
}

.header__tab-wrap {
  @include mq(tab) {
    display: flex;
  }

  @include mq(desk) {
    gap: 31px;
  }
}

.header__mob-wrap {
  display: flex;
  align-items: center;
  gap: 19px;
}

// header grey underline

.header::before {
  @include mq(desk) {
    content: '';
    position: absolute;
    height: 1px;
    width: 130px;
    top: 80px;
    left: 0;
    background-color: $text-color;
  }
}

.header::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 56px;
  right: 0;
  background-color: $text-color;

  @include mq(tab) {
    top: 50%;
  }

  @include mq(desk) {
    width: 1090px;
    top: 80px;
  }
}

.header__container {
  @include mq(desk) {
    align-items: center;
    gap: 40px;
  }
}

// icons size

.header__contacts-icon,
.header__login-icon,
.header__input-icon,
.header__cart-icon {
  width: 24px;
  height: 24px;
}

// hover nav links

.header__nav-link:hover,
.header__nav-link:focus {
  color: $accent-color;
}
