// header above

.header__above {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(desk) {
    justify-content: flex-end;
    gap: 32px;
    font-size: 14px;
  }
}

// logo

.header__logo {
  @include mq(not-desk) {
    display: none;
  }
}

// header nav

.header__nav {
  @include mq(not-desk) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__nav-link {
  color: #d3d7db;
  text-decoration: none;
  @include transition(color);

  @include mq(desk) {
    padding: 15px 0;
    color: $main-color;
  }
}

// header contacts

.header__contacts {
  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;

    margin-right: 52px;
  }

  @include mq(desk) {
    margin-right: 0;
  }
}

.header__contacts-link {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  color: $accent-color;
  text-decoration: none;

  .header__contacts-tel {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 16px;
    color: $main-color;
  }
}

// lang

.header__lang-btn {
  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    margin-right: 25px;
  }

  @include mq(desk) {
    display: inline-block;
    margin-right: 0;
  }
}

.header__lang-icon {
  width: 10px;
  height: 10px;
}

// login

.header__login-btn {
  @include mq(tab-only) {
    margin-right: 33px;
  }
}

.header__login-text {
  @include mq(mob-only) {
    display: none;
  }
}

.header__login-icon {
  fill: currentColor;

  @include transition(color);

  .header__login-btn:hover & {
    color: $main-color;
  }
}
