// header below

.header__below {
  display: flex;
  align-items: center;
  gap: 20px;

  @include mq(tab) {
    gap: 0;
  }

  @include mq(desk) {
    justify-content: flex-end;
    gap: 30px;

    font-size: 16px;
  }
}

// header menu

.header__menu {
  @include mq(tab) {
    margin-right: 12px;
  }

  @include mq(mob-only) {
    display: none;
  }
}

.header__menu-list {
  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    display: flex;
    gap: 15px;
  }

  @include mq(desk) {
    gap: 20px;
  }
}

.header__menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;

  cursor: pointer;
}

.header__menu-title {
  font-weight: 500;
  text-transform: uppercase;
}

.header__menu-icon {
  width: 10px;
  height: 10px;
}

// header input

.header__form {
  flex-grow: 1;
  position: relative;

  @include mq(tab) {
    width: 300px;
    margin-right: 16px;
  }

  @include mq(desk) {
    max-width: 464px;
  }
}

.header__input {
  width: 100%;
  height: 38px;
  padding: 8.5px 10px;

  background-color: $text-color;
  border: none;
  border-radius: 10px;
  color: #e7ebf0;

  @include mq(tab) {
    height: 42px;
    padding: 10.5px 20px;
  }

  @include mq(desk) {
    height: 44px;
    padding: 10px 20px;
  }

  &::placeholder {
    font-size: 14px;
    color: $placeholder-text-color;
  }
}

.header__input-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;

  @include mq(tab) {
    right: 10px;
    padding: 9px 10px;
  }

  @include mq(desk) {
    padding: 10px 10px;
  }
}

// cart button

.header__cart-wrap {
  position: relative;
}

.header__cart-good {
  position: absolute;
  top: 0px;
  right: 0;
  width: 13px;
  height: 10px;
  background-color: $alert;
  border-radius: 10px;

  font-size: 8px;
  color: $title-color;
}

.header__cart-text {
  @include mq(mob-only) {
    display: none;
  }

  color: $main-color;
}
