<footer class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <div class="logo footer__logo">
        <a href="/">
          <img
            srcset="
              ./images/logo/logo@1x-min.png 1x,
              ./images/logo/logo@2x-min.png 2x
            "
            src="./images/logo/logo@1x-min.png"
            alt="logo"
            class="footer__logo-pic logo__pic"
            width="103"
            height="52"
          />
        </a>
      </div>
      <div class="footer__text">
        <p>Интернет-магазин «АСП ГРУП» Успех - это когда все работает!</p>
        <p class="footer__copy">&copy; 2021 All Rights Reserved.</p>
      </div>
      <ul class="footer__sm-list">
        <li class="footer__sm-item">
          <a
            href="https://www.youtube.com/"
            class="footer__sm-link"
            rel="noopener norefferer nofollow"
            target="_blank"
          >
            <svg class="footer__sm-icon">
              <use href="./images/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="footer__sm-item">
          <a
            href="https://www.facebook.com/"
            class="footer__sm-link"
            rel="noopener norefferer nofollow"
            target="_blank"
          >
            <svg class="footer__sm-icon">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <nav class="nav footer__nav">
      <div class="footer__nav-wrap">
        <h2 class="footer__nav-title">Покупателю</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Личный кабинет</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">О нас</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Оплата и доставка</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Возврат товара</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Как заказать</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Контакты</a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-wrap">
        <h2 class="footer__nav-title">Запчасти</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Борона</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link"
              >Внесение удобрений и Точное Земледелие
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Двигатель </a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Комбайн </a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Культиватор</a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-wrap">
        <h2 class="footer__nav-title">Техника</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Комбайн</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Культиватор</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Плуг</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Сеялка</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Трактор</a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-wrap">
        <h2 class="footer__nav-title">Сервис</h2>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Двигатель</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Плуг</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Культиватор</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Борона</a>
          </li>
          <li class="footer__nav-item">
            <a href="" class="footer__nav-link">Кара</a>
          </li>
        </ul>
      </div>
          </nav>

      <div class="footer__address">
        <h2 class="footer__address-title">Контакты</h2>
        <ul class="footer__address-list">
          <li class="footer__address-item">
            <a
              href="mailto:ac@asp.com.ua"
              class="footer__address-mail footer__address-link"
            >
              <svg class="footer__address-icon">
                <use href="./images/icons.svg#icon-mail"></use>
              </svg>
              <span>ac@asp.com.ua</spa></a
            >
          </li>
          <li class="footer__address-item">
            <a
              href="https://goo.gl/maps/6hHnY4MKYW2ThHw69"
              rel="noopener noreferrer nofollow"
              target="_blank"
              class="footer__address-address footer__address-link"
            >
              <svg class="footer__address-icon">
                <use href="./images/icons.svg#icon-map"></use>
              </svg>
              <span>г. Киев, Коллекторная 30</spa></a
            >
          </li>
          <li class="footer__address-item">
            <a
              href="tel:+380505077272"
              class="footer__address-tel footer__address-link"
            >
              <svg class="footer__address-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <span>+38 050 507 72 72</spa></a
            >
          </li>
        </ul>

        <button type="button" class="transparent-btn footer__btn" data-modal-open-callback>Заказать звонок</button>
      </div>
  </div>
</footer>
