<div class="backdrop__mob-menu" id="menu-container" data-menu>
  <div class="nav header__mob-menu">
    <div class="header__mob-nav">
      <p class="header__nav-title">Меню</p>
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <span class="header__menu-title">Техника</span>
          <svg class="header__menu-icon">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
          <ul class="header__sub-menu">
            <li></li>
            <li></li>
          </ul>
        </li>
        <li class="header__menu-item">
          <span class="header__menu-title">Запчасти</span>
          <svg class="header__menu-icon">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
          <ul class="header__sub-menu">
            <li></li>
            <li></li>
          </ul>
        </li>
        <li class="header__menu-item">
          <span class="header__menu-title">Сервис</span>
          <svg class="header__menu-icon">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
          <ul class="header__sub-menu">
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>

      <ul class="nav__list header__nav-mob-list">
        <li class="nav__item header__nav-mob-item">
          <a href="" class="header__nav-link">О нас</a>
        </li>
        <li class="nav__item header__nav-mob-item">
          <a href="" class="header__nav-link">Оплата и доставка</a>
        </li>
        <li class="nav__item header__nav-mob-item">
          <a href="" class="header__nav-link">Возврат товара</a>
        </li>
        <li class="nav__item header__nav-mob-item">
          <a href="" class="header__nav-link">Как заказать</a>
        </li>
        <li class="nav__item header__nav-mob-item">
          <a href="" class="header__nav-link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="header__mob-contacts">
      <ul class="footer__sm-list">
        <li class="footer__sm-item">
          <a
            href="https://www.youtube.com/"
            class="footer__sm-link"
            rel="noopener norefferer nofollow"
            target="_blank"
          >
            <svg class="footer__sm-icon">
              <use href="./images/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="footer__sm-item">
          <a
            href="https://www.facebook.com/"
            class="footer__sm-link"
            rel="noopener norefferer nofollow"
            target="_blank"
          >
            <svg class="footer__sm-icon">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <button type="button" class="header-btn header__lang-menu-btn">
        <span>RU</span>
        <svg class="header__lang-icon">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
