// header btn

.header-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: transparent;
  border: none;

  color: $accent-color;
}

// transparent btn

.transparent-btn {
  padding: 11.5px 41.5px;
  background-color: transparent;
  border: 3px solid $accent-color;
  border-radius: 10px;

  font-size: 14px;
  color: $main-color;
  text-align: center;
}

// filled button

.fl-btn {
  width: 218px;
  height: 44px;
  padding: 10px;
  background: $bcg-btn-color;
  border: none;
  border-radius: 10px;

  font-size: 14px;
  color: $main-color;
  text-align: center;
}

// modal btn

.modal-btn {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  border: none;
  background-color: transparent;

  .modal__icon {
    width: 15.5px;
    height: 15.5px;
  }
}
