.container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  outline: 1px beige solid;

  @include mq(desk) {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
